---
import Text from './Text';
---

<footer class="bg-gray-100 text-gray-600 mt-16 py-8 flex flex-col items-center">
  <div class="text-center mt-4 text-sm">
    <Text color="gray">&copy; 2025-2026 Vipelar. All Rights Reserved.</Text>
  </div>
</footer>
