---
import Menu from './Menu';
import { Image } from 'astro:assets';

const links: { href: string; label: string }[] = [{ href: '/magniquake', label: 'Magniquake' }];
---

<header class="fixed top-0 left-0 w-full bg-white shadow-md z-50">
  <div class="max-w-6xl mx-auto px-4 flex justify-between items-center h-16">
    <div class="flex gap-x-2 items-center">
      <Image src="/favicon.ico" width={40} height={40} alt="logo" class="rounded" />
      <a href="/" class="text-xl font-bold">
        <span class="text-xl font-bold">Vipelar</span>
      </a>
    </div>

    <nav class="hidden space-x-6 md:flex">
      {
        links.map(({ href, label }) => (
          <a href={href} class="inline-flex items-center hover:text-blue-500">
            {label}
          </a>
        ))
      }
    </nav>
    <Menu client:load links={links} />
  </div>
</header>
